<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey</title>
</head>
<body>
    <fieldset>
        <form action="" method="post">
            <p>Your Name:</p>
            <input type="text" name="fullName"><br>
            <p>Dojo Location:</p>
            <select name="dojoLocation" id="">
                <option value="San Jose">San Jose</option>
                <option value="Seattle">Seattle</option>
                <option value="Chicago">Chicago</option>
                <option value="Online">Online</option>
            </select><br>
            <p>Favorite Language:</p>
            <select name="language" id="">
                <option value="Python">Python</option>
                <option value="Ruby">Ruby</option>
                <option value="C#">C#</option>
            </select><br>
            Comment:
            <textarea name="comment" cols="30" rows="10"></textarea><br>
            <input type="submit" value="Button">
        </form>
    </fieldset>
    
</body>
</html>