<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Razor App</title>
</head>
<body>
    @{
        var NameList = new List<string>{
            "Chris",
            "Tonny",
            "Barbara",
            "Alicia"
            };
        foreach(var word in NameList)
        {
            foreach (var ch in word)
            {
                if (ch.Equals('C'))
                {
                    <p style="color: red">@word</p>;
                }
                else
                {
                    <p>@word</p>
                }

            }
            
        }
    }
    <h2>In the house</h2>
    
</body>
</html>